
h1{
    background-color: yellow;
}
.a{
    background-color: orange;
}
.b{
   background-color: rgb(90, 90, 248); 
}   
.c{
    background-color: rgb(236, 36, 193);
}   
.d{
    background-color: rgb(196, 31, 196);
}
.e{
    background-color: saddlebrown;
}
.f{
    background-color:rgb(245, 131, 148);
}
.g{
    background-color: darkgoldenrod;
}
.h{
    background-color: rgb(11, 190, 11);
}
.i{
    background-color: yellow;
}
.j{
    background-color: lightpink;
}